:root {
    --black-color: #1A1A1A;
    --white-color: #F5F0E3;
}

html {

}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--black-color);
    color: var(--white-color);
    display: flex;
    height: 100%;
    padding-top: 100px;
}

.swipe-button {
    border-top: 3px solid var(--white-color);
    height: 9vh;
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5em;
    font-weight: 400;
}
h2 {
    font-size: 0.8em;
    font-weight: 200;
}