:root {
    --black-color: #1A1A1A;
    --white-color: #F5F0E3;

    --swipe-duration: 0.5s;
}

html {

}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--black-color);
    color: var(--white-color);
    display: flex;
    height: 100%;
    padding-top: 100px;
}

.top-bottom {
    background: linear-gradient(0deg, var(--white-color) 50%, var(--black-color) 50%);
    &:after {
      background: linear-gradient(0deg, transparent 50%, var(--white-color) 50%);
    }
  }
  
  .top-bottom,
  .top-bottom:after {
    background-position-y: 100%;
    padding: 0;
  }
  
  .top-bottom:hover,
  .top-bottom:hover:after {
    background-position-y: 0;
    padding: 0 20px;
  }

  .swipe-button {
    border-top: 3px solid var(--white-color);
    height: 9vh;
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
}

  .swipe-button,
  .swipe-button:after {
    background-size: 200% 200%;
    transition: all var(--swipe-duration) ease-in-out;
  }

h1 {
    font-size: 1.5em;
    font-weight: 400;
}
h2 {
    font-size: 0.8em;
    font-weight: 300;
}